body{
	background-color: #3B3636;
}

h1{
	color: rgb(225, 49, 11,);
	margin: 100px;
	text-shadow: 1px .5px 4px rgba(0, 0, 0, 0.6);
} 

.container{
	width: 450px;
	height: 450px;
	background-color: #0CE7F5;
	border: 2px solid black;
	border-radius: 5%; /*for a box (top, right, bottom, left)*/

}

/*------------------------------
SELECT ALL SQUARES IN THE ARRAY
------------------------------*/

.container .squares:nth-child(-n+4){
	background-image: url("../icons/icons.png"); /*(if this path doesn't work, try (url('../')))*/
	color: rgb(22, 216, 109);
	float: left;
	width: 100px;
	height: 100px;
	margin: 5px;
	border: 1px solid black;
	border-radius: 25%;
	cursor: pointer;
	transition: transform .5s ease-in-out;

}

/*----------------------------------------
SELECT ALL SQUARES PARAGRAPHS IN THE ARRAY
----------------------------------------*/
.squares:nth-child(-n+4) p{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif,;
	font-size: 1.5em;
	font-weight: 900;
	text-align: center;
	margin: 0;
	text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.8);
}

/*----------------------------------------
INDIVIDUALLY SELECT A SQUARE IN THE ARRAY
----------------------------------------*/

.squares:nth-child(1) {
	background: #FF8C00;
}

.squares:nth-child(2) {
	background: #B22222;
}

.squares:nth-child(3) {
	background: #ADFF2F;
}

.squares:nth-child(4) {
	background: #F317E5;
}


/*----------------------------------------
HOVER EFFECTS
----------------------------------------*/
.container .squares:nth-child(-n+4):hover {
	background-image: url("../icons/icons2.png");
	transform: scale(.5);
	animation-name: race;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(2.5, .2, .3, 2);
}

.squares:nth-child(1):hover {
	background: #F317E5;
}

.squares:nth-child(2):hover {
	background: #ADFF2F;
}

.squares:nth-child(3):hover {
	background: #B22222;
}

.squares:nth-child(4):hover {
	background: #FF8C00;
}

/*----------------------------------------
   ANIMATION EFFECTS
----------------------------------------*/

@keyframes race {
	0%, 100% {
		transform: translateY(0px);
		background-image: url("../icons/icons2.png");
	}
	50% {
		transform: translateY(330px);
	}
}