.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

img{
	filter: grayscale(90%);
	border: 3px solid black;
	border-radius: 6px;
}
h2{
	text-align: center;
}

footer{
	text-align: center;
	font-weight: 700;
}


.tablehead{
	text-align: center;
}

table{
	text-align: left;
	border: 2px solid;
	border-radius: 10px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
th{
	border: 2px solid;
	background-color: #03bafc;
	padding-left: 4px;
}
 td{
 	border: 2px solid;
 	padding: 4px;
 }

.container{
	position: relative;
	text-align: center;
	color: black;
}

.imagetxt{
	position: absolute;
	bottom: 8px;
	left: 925px;
	font-weight: bold;
	font-size: 14pt;
}

.navbar{
	position: fixed;
	background-color: #f07837;
	width: 100%;
	top: 0;
	overflow: hidden;
}

.navbar a{
	float: left;
	display: block;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	text-align: center;
	font-size: 14pt;
	color: navy;
}

.navbar a:hover{
	background-color: #ed8d07;
	color: #0716ed;
}

.row{
	display: flex;
}

.column{
	flex: 50%;
	padding: 10px;
	height: 200px;
	width: 50%;
	background-color: #f7ba6f;
	border-radius: 3px;
	border-color: black;
	border: 1px solid;

}

p:hover{
	background-color: #f5b002;
	color: #0247f5;
}
